rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /weddings/{weddingId} {
      allow read, update: if request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in resource.data.ownerEmails;

      allow create: if request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in request.resource.data.ownerEmails;

      allow delete: if false;
    }
  }
}
